<!DOCTYPE html>

<html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="styles.css">-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script type="text/javascript">
    
          function loading() {
          document.getElementById("loading").style.display = "block";
          document.getElementById("content").style.display = "none";
          }
        </script>
        <title>All Roads Lead to Rick</title>

      </head>

     <body class="background">
      <div id="loading" class="centered"></div>
      <div id="content">
        <div class="split-left">
          <div class="centered">
            <img class="rick" src="{{ url_for('static', filename='images/rickroll-gif-9.gif') }}">
          </div>  
        </div>
        
        <div class="split-right">
          <div id="error" class="centered">
          <h2 class="title">All Roads Lead To Rick</h2>
            <form action="/" method="POST" onsubmit="return validateForm()" style="width: 300px;" method="post">
                <div class="form-group" style="padding-bottom: 0.2cm;">
                <input name="APIkey" 
                autocomplete="off"
                style="text-align: center;"
                  type="APIkey" 
                  class="form-control" 
                  id="APIkey" 
                  placeholder="API Key">
                <p id="keyError" class="error-message"></p>

              <p>
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                  Disclaimer
                </button>
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  Learn how to extract your key
                </button>
              </p>
              <div>
              <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                We require your Youtube API key for the application to work because Youtube
  caps the number of credits accredited to an individual per 24 hours,
  limiting our ability to run the application multiple times.
  The API key is solely to operate the Youtube API, and reveals no information about the user. Your key will not be stored, distributed or reused by our application.
                </div>
              </div>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  Please refer to <a href="https://developers.google.com/youtube/v3/getting-started">this</a> link for detailed instructions
                  on how to retrieve your API key.
                </div>
              </div>
              </div>


                <div class="form-group" style="padding-top: 0.5cm;">
                <input name= "youtubeURL" 
                autocomplete="off"
                style="text-align: center;"
                type="youtubeURL" 
                class="form-control" 
                id="youtubeURL" 
                placeholder="Youtube URL">
                <p id="urlError" class="error-message"></p>
                </div>
                <button type="submit" class="btn btn-primary" onclick="loading();">Let's Go!!</button>
              </form>

          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <script>
          function validateForm(){
            var key = document.getElementById("APIkey").value;
            var url = document.getElementById("youtubeURL").value;
            var errorFound = false;
            const youtubeRegex = /^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$/;

            if (key == "") {
              keyError.innerHTML="This is a required field.";
              errorFound=true;
            }

            if (url == "") {
              urlError.innerHTML="This is a required field.";
              errorFound=true;
            }
            
            if ((!youtubeRegex.test(url))){
              urlError.innerHTML="Invalid Youtube URL.";
              errorFound=true;
            }
            if(errorFound){
              return false;
            } else{
              return true;
            }
            }

                  
        </script>
        </div>
        </body>

    </html>
</html>
