/*.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners} */

/* Add rounded corners to the top left and the top right corner of the image */
/*img {
    border-radius: 5px 5px 0 0;
  } */

.img {
  height: 50px;
  width: 90px;
  border-radius: 4px;
}

:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Verdana", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 50px 0;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.background {
  background-image: url("http://static1.squarespace.com/static/580fbaac440243d8731ffc57/580fc80d46c3c44e7d4df181/618a8b86f13db249b077933e/1649190555234/Rickroll_WEBSITE.jpg?format=1500w");
}

.cards {
  display: flex;
  padding: 25px 0px 20px 20px;
  border-radius: 10px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  border-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.button {
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.card .card-link-wrapper {
  margin-top: auto;
}
.cards::-webkit-scrollbar {
  height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
  background: var(--black);
}
.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }
  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }
  .card:not(:last-child) {
    margin-right: 40px;
  }
}
